<h1> Welcome To Viewing Party </h1>
<body>
  <%= form_tag("/users", method: :post) do  %>
    <%= label_tag(:name) %>
    <%= text_field_tag(:name) %>

    <%= label_tag(:email) %>
    <%= text_field_tag(:email) %>

    <%= label_tag(:password) %>
    <%= password_field_tag(:password) %>

    <%= label_tag(:confirm_password) %>
    <%= password_field_tag(:password_confirmation) %>

    <%= submit_tag("Register") %>
  <% end %>
</body>

<%= link_to 'Already Registered? Log in Here', '/', method: :get %>
